[Desktop Entry]
Name=Keeping It Fresh
Comment=Our application to reduce food waste
Icon=/home/pi/KIF/Leftovers/KeepingItFresh.jpg
Exec=sudo python3 fresh.py
Type=Application
Encoding=UTF-8
Terminal=false
Categories=None;